@model EATurnerDataService.ServiceModel.Movie
@{
    <br />
    <h2 >@Model.Titles.First().TitleName</h2>
    <hr />
    <br />
    <h4><b>Plot Synopsis</b></h4>
    for (int i = 0; i < Model.StoryLines.Count; i++)
    { 
    <p><b>Version @(i+1)</b> - @Model.StoryLines[i].Description</p>
    }
    <br />

    var genreString = Model.Genres.FirstOrDefault().Name;
    foreach (var genre in Model.Genres)
    {
        if (genre.Name != genreString)
        {
            genreString += (", " + genre.Name);
        }
    }
    <h4><b>Genres</b></h4>
    <p>@genreString.</p>
        <br />
        <br />
        <h4><b>Awards</b></h4>
        <br />

        <table class="table table-responsive table-condensed table-hover">
            <tr>
                <td style="font-weight:bold">
                    Award
                </td>
                <td style="font-weight:bold">
                    Company
                </td>
                <td style="font-weight:bold">
                    Year
                </td>
                <td style="font-weight:bold">
                    Status
                </td>
            </tr>
                @foreach (var awardItem in Model.Awards)
                {
                    <tr>
                        <td>
                            @awardItem.Award
                        </td>
                        <td>
                            @awardItem.AwardCompany
                        </td>
                        <td>
                            @awardItem.AwardYear
                        </td>
                        @if (awardItem != null)
                        {
                            if (awardItem.AwardWon == true)
                            {
                                <td>
                                    <b style="color:green">Won</b>
                                </td>
                            }
                            else
                            {
                                <td style="color:red">Nominated</td>
                            }
                        }
                        else
                        {
                            <b> --- </b>
                        }
                    </tr>
                }
        </table>

        <br />
        <br />
    <h4><b>Full Cast</b></h4>
    <br />

    <table class="table table-responsive table-condensed table-hover">
        <thead style="background-color:lightgray">
            <tr>
                <td style="font-weight:bold">
                    Cast Member
                </td>
                <td style="font-weight:bold">
                    Type
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (var actor in Model.Actors)
            {
                <tr>
                    <td>
                        @actor.Name
                    </td>
                    <td>
                        @actor.ParticipantType
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />   
    <br />
    <br />

}