@model EATurnerDataService.ServiceModel.Movie
@{
    <h2>@Model.Titles.First().TitleName</h2>
    <hr />
    <h4>Plot Synopsis</h4>
    <p>@Model.StoryLines.First().Description</p>
    <br />
    <br />

    <h4>Actors</h4>
    <br />

    <table class="table table-responsive table-condensed table-hover" style="overflow-y:scroll" >
        <tr>
            <td style="font-weight:bold">
                Actor
            </td>
            <td style="font-weight:bold">
                Type
            </td>
        </tr>
        @foreach (var actor in Model.Actors)
        {
        <tr>
            <td>
                <b>@actor.ParticipantName</b>
            </td>
            <td>
                 @actor.ParticipantType
             </td>
        </tr>
        }
    </table>
    <br />
    <br />


    <h4>Awards</h4>
    <br />

    <table class="table table-responsive table-condensed table-hover" style="overflow-y:scroll">
        <tr>
            <td style="font-weight:bold">
                Award
            </td>
            <td style="font-weight:bold">
                Company
            </td>
            <td style="font-weight:bold">
                Year
            </td>
            <td style="font-weight:bold">
                Status
            </td>
        </tr>
        @foreach (var awardItem in Model.Awards)
        {
            <tr>
                <td>
                    <b>@awardItem.Award</b>
                </td>
                <td>
                    @awardItem.AwardCompany
                </td>
                <td>
                    @awardItem.AwardYear
                </td>
                @if (awardItem != null)
                {
                    if (awardItem.AwardWon != null)
                    {
                        if (awardItem.AwardWon == true)
                        {
                        <td>
                            <b style="color:green">Won</b>
                        </td>
                        }
                        else
                        {
                        <td>
                            <b style = "color:red" > Nominated </b>
                         </td>
                        }
                    }
                    else
                    {
                        <b> --- </b>
                    }
                }
                else
                {
                    <b> --- </b>
                }
            </tr>
        }
    </table>
    <br />
    <br />

}